<div class="portada">

    <div class="carousel-portada"></div>

    <div class="carrousel-completo">

        <div id="teaser-carousel" class="carousel carousel-dark slide" data-bs-ride="carousel">

        <div class="carousel-indicators">
            
            <button type="button" data-bs-target="#teaser-carousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#teaser-carousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#teaser-carousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>

        <div class="carousel-inner">

            <div class="carousel-item active" data-bs-interval="3000">

                <iframe width="560" height="315" src="https://www.youtube.com/embed/D7eFpRf4tac" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

            
                {{!-- <div class="carousel-caption d-none d-md-block">
                    <h5>I am Groot</h5>
                    <p>Disney + Originals. Release date August 10.</p>
                </div> --}}

            </div>


            <div class="carousel-item" data-bs-interval="3000">
            
                <iframe width="560" height="315" src="https://www.youtube.com/embed/uYnQDsaxHZU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

                {{!-- <div class="carousel-caption d-none d-md-block">
                    <h5>The Lord of The Rings: The Rings of Power</h5>
                    <p>Amazon Original. Release date September 2.</p>
                </div> --}}

            </div>

            <div class="carousel-item">

                <iframe width="560" height="315" src="https://www.youtube.com/embed/IiMinixSXII" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

                {{!-- <div class="carousel-caption d-none d-md-block">
                    <h5>Dungeons & Dragons: Honor Among Thieves</h5>
                    <p>Release date March 2023.</p>
                </div> --}}

            </div>

        </div>

            <button class="carousel-control-prev" type="button" data-bs-target="#teaser-carousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>

            <button class="carousel-control-next" type="button" data-bs-target="#teaser-carousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>

        </div>

    </div>

        <div class="details-card">

            <div class="details">

                <div class="detail-image">

                <div class="det-image">
                    <img class="default-image" src="/images/frikinews2.png" alt="Imagen Noticia">
                </div>

                </div>
                
                <div class="detail-info">

                <div class="detail-title">
                    <h3>{{detailId.title}}</h3>
                </div>

                <div class="detail-category">
                    <p id="cattegory">{{detailId.category}}</p>
                </div>

                <div class="detail-text">
                    <p>{{detailId.text}}</p>
                </div>

                <div class="detail-user">
                    <h4>{{detailId.owner.username}}</h4>
                </div>
                
                </div>

            </div>

        </div>

</div>







{{!-- <h1 class="title-index">{{appTitle}} 🚀</h1> --}}
