

<h3>{{detailId.title}}</h3>
<h4>{{detailId.category}}</h4>
<h4>{{detailId.userSignature}}</h4>
<p>{{detailId.text}}</p>



{{!-- <form action="/news/{{detailId}}/edit" method="POST">
  <button>Edit New</button>
</form> --}}

{{!-- <a href="/news/{{detailId._id}}/edit-form.hbs"><button>Edit</button></a> --}}

<form action="/news/{{detailId._id}}/delete" method="POST">
  <button>Delete New</button>
</form>


{{!-- <div>

  <h2>Comment mdf!</h2>

  <form action="/comment/{{detailId._id}}/comment/create" method="POST">



    <label for="text">Texto</label>
    <input name="text" placeholder="comment aquí">
    
    <label for="newlink">Text</label>
    <input type="url" name="newlink" placeholder="link">
    
    <button>Add New Comment</button>

  </form>

</div>
 --}}



