

<h3>{{oneNew.title}}</h3>
<h4>{{oneNew.category}}</h4>
<h4>{{oneNew.userSignature}}</h4>
<p>{{oneNew.text}}</p>



<form action="/news/{{oneNew._id}}/edit" method="POST">
  <button>Edit New</button>
</form>

<form action="/news/{{oneNew._id}}/delete" method="POST">
  <button>Delete New</button>
</form>