

<h3>{{detailId.title}}</h3>
<h4>{{detailId.category}}</h4>
<h4>{{detailId.userSignature}}</h4>
<p>{{detailId.text}}</p>



<form action="/news/{{detailId}}/edit" method="POST">
  <button>Edit New</button>
</form>

{{!-- <a href="/news/{{detailId._id}}/edit-form.hbs"><button>Edit</button></a> --}}

<form action="/news/{{detailId._id}}/delete" method="POST">
  <button>Delete New</button>
</form>


<div>

  <h2>Comment mdf!</h2>

  <form action="/comment/{{detailId._id}}/create" method="POST">



    <label for="text">Text</label>
    <input name="text" placeholder="comment aquí">
    
    <label for="newLink">Text</label>
    <input type="url" name="newLink" placeholder="link">
    
    <button>Add New Comment</button>

  </form>

</div>

<div>

 {{#each comment}}

    <h3>

      {{this.userSignature}}
      
    </h3>


    <p>

      {{this.text}}

    </p>

    <p>

      {{this.newLink}}

    </p>


 {{/each}}


</div>



