

<h3>{{detailId.title}}</h3>
<h4>{{detailId.category}}</h4>
<h4>{{detailId.userSignature}}</h4>
<p>{{detailId.text}}</p>



<form action="/news/{{detailId}}/edit" method="POST">
  <button>Edit New</button>
</form>

{{!-- <a href="/news/{{detailId._id}}/edit-form.hbs"><button>Edit</button></a> --}}

<form action="/news/{{detailId._id}}/delete" method="POST">
  <button>Delete New</button>
</form>


/* ! no funciona-------------------------------------*/
{{!-- <div>

  <h2>Comment mdf!</h2>

  <form action="/{{new.detailId._id}}/comment/create" method="POST">

    <span>{{req.session.user.username}}</span>

    <h2>{{req.session.user._id}}</h2>

    <label for="text">Texto</label>
    <input name="text" placeholder="comment aquí">
    
    <label for="newlink">Text</label>
    <input type="url" name="newlink" placeholder="link">
    
    <button>Add New Comment</button>

  </form>

</div> --}}

/* ! no funciona-------------------------------------*/




/* ! no funciona-------------------------------------*/
{{!-- <div>

  <h2>Comment mdf!</h2>

  <form action="/{{newId._id}}/details/comment/create" method="POST">

    <span>{{req.session.user.username}}</span>

    <label for="text">Texto</label>
    <input name="text" placeholder="comment aquí">
    
    <label for="newlink">Text</label>
    <input type="url" name="newlink" placeholder="link">
    
    <button>Add New Comment</button>

  </form>

</div> --}}
/* ! no funciona-------------------------------------*/