<div class="details-page">

  <div id="go-back">
    <a class="go-back-link" href="/news"><button class="go-back-button">Back to the News</button></a>
  </div>


{{!-- -----------------------------------------Details------------------------------------------------- --}}

    <div class="details-card">

      <div class="details">

        <div class="detail-image">

          <div class="det-image">
            <img class="default-image" src="#" alt="Imagen Noticia">
          </div>

        </div>
        
        <div class="detail-info">

          <div class="detail-title">
            <h3>{{detailId.title}}</h3>
          </div>

          <div class="detail-category">
            <p>{{detailId.category}}</p>
          </div>

          <div class="detail-text">
            <p>{{detailId.text}}</p>
          </div>

          <div class="detail-user">
            <h4>{{detailId.owner.username}}</h4>
          </div>
        
        </div>

      </div>

    

    {{!-- -----------------------------------------Botones------------------------------------------------- --}}

      <div class="detail-buttons">

        {{#if isOwner}}

          <div class="detail-button-edit">
            <a class="edit-link" href="/news/{{detailId._id}}/edit"><button class="edit-button">Edit</button></a>
          </div>

          <div class="detail-button-delete">
            <form class="del-form" action="/news/{{detailId._id}}/delete" method="POST">
              <button class="delete-button">Delete</button>
            </form>
          </div>

          {{else}}
            {{#if isUserAdmin}}

            <div class="detail-button-edit">
              <a class="edit-link" href="/news/{{detailId._id}}/edit"><button class="edit-button">Edit</button></a>
            </div>

            <div class="detail-button-delete">
              <form class="del-form" action="/news/{{detailId._id}}/delete" method="POST">
                <button class="delete-button">Delete</button>
              </form>
            </div>

            {{/if}}
          {{/if}}

      </div>

    </div>

{{!-- -----------------------------------------Comment------------------------------------------------- --}}

  <div class="comment">

  {{#if isUserActive}}

    <div class="comment-title">
      <h4>Comentarios</h4>
    </div>

    <div class="comment-form">

      <form class="com-form" action="/comment/{{detailId._id}}/create" method="POST">


        <div class="comment-text">
          <label class="label-com-txt" for="text">Text</label>
          <input class="input-com-txt" name="text" placeholder="a ver dices">
        </div>
        
        <div class="comment-link">
          <label class="label-com-link" for="newLink">Link</label>
          <input class="input-com-link" type="url" name="newLink" placeholder="link relacionado">
        </div>
        
        <div class="comment-button">
          <button class="button-new-comment">Add New Comment</button>
        </div>

      </form>

      </div>

  {{/if}}

  </div>


{{!-- -----------------------------------------All Comments------------------------------------------------- --}}

  <div class="all-comments">

  {{#each comment}}

    <div class="comments">

      <div class="all-comments-username">
        <h3 class="all-coms-user">{{this.owner.username}}</h3>
      </div>

      <div class="all-comments-text">
        <p class="all-coms-text">{{this.text}}</p>
      </div>

      <div class="all-comments-link">
        <p class="all-coms-link">{{this.newLink}}</p>
      </div>

    </div>

  {{/each}}


  </div>

</div>

