<div>
  <div>
    <h1>Noticias</h1>
  </div>
  <div>
    {{#each listOfNews}}
      {{#if isUserAdmin}}
        <a href="/news/{{this._id}}/edit"><button>Edit New</button></a>
        <form
          action="/news/{{this._id}}/delete"
          method="POST"
          style="display: inline"
        >
          <button>Delete New</button>
        </form>
      {{else}}
        <br>
        <a href="/news/{{this._id}}/details">{{this.title}}</a>
        <br>
      {{/if}}
    {{/each}}
  </div>
</div>